:host {
  display: grid;
  align-items: center;
  justify-items: start;

  .key {
    color: var(--light-gray);
    font-weight: 700;
    opacity: 0.8;
  }

  .value {
    color: currentColor;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 0;
  }
}
