:host {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: var(--bg-light-gray);
  border-radius: var(--corner-radius);
  text-align: center;
  padding: 48px;
  margin: 0 0 64px;

  button {
    margin-top: 24px;
    margin-bottom: 48px;
  }

  img {
    max-width: 400px;
  }
}
