:host {
  width: 400px;
  display: grid;
  padding: 0 20px 20px;

  p {
    color: var(--gray);
    margin-bottom: 64px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      text-transform: capitalize;
    }
  }
}
